<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display:flex;
            align-items: center;
            justify-content: center;
            align-content: center;
        }
    </style>
    <title>Index</title>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000">ínicio</a></li>
            </ul>
            </ul>
            <li><a href="http://127.0.0.1:8000/pablo/">Nome</a></li>
            </ul>

        </nav>
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>